body{
    background-color: black;
}

#g{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    height: 100px;

}

#h{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(220, 245, 227);
    height: 100px;
}

#j{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    height: 100px;
}

#k{
    display: flex;
    justify-content: center;background-color: rgb(160, 121, 54);
    height: 100px;
}
